@import "../../styles/variables";

.bubak {
    margin: 5px 25px;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: calc(10px + 2vmin);
        color: #ccc;

        .bubak-logo {
            background-image: url('../../assets/bubak-logo-small.png');
            background-size: cover;
            width: 119px;
            height: 80px;
        }
    }
}
