
.konzi {
    text-align: center;

    .info {
        font-family: 'thrashed';
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}

.flyer {
    max-height: 300px;
    max-width: 100vw;
}
